@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
* {
   font-family: 'Inter', sans-serif;
}

.container {
    width: 55%;
    margin: auto;
    background-color: #fff;
}

.navbar{
    position: sticky;
}

.containerInfo {
    width: 460px;
    margin: auto;
    background-color: #fff;
}

.text-nav {
    font-size: 15px;
}

.relative input {
    width: 390px;
}

.guide input {
    width: 370px;
}

.containers {
    height: 100%;
    background-color: #ffff;
}

.containerGuide {
    max-width: 30%;
    margin: auto;
    background-color: #fff;
}

.containerWisata {
    width: 430px;
    background-color: #fff;
}

.login {
    margin-bottom: 100%;
}


.swiper {
    width: 405px;
}

.mySwiper {
    width: 430px;
}

.MySwiper {
    width: 420px;
}

.swiper-slide {
    margin-left: 5px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box {
    width: 300px;
    height: 320px;
    padding: 2px;
}

.img-box2 {
    width: 100%;
    height: 100%;
}

.img-box3 {
    width: 420px;
    height: 320px;
}

.img-box4 {
    width: 350px;   
}

.img-box5 {
    width: 100%;   
    height: 100%; 
}

.btn-profile{
    position: sticky;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-hr {
    margin: auto;
    display: flex;
    padding: 15px;
    margin-top: -20px;
}

.text-hr:before,
.text-hr::after {
    color: white;
    content: "";
    flex: 1;
    border-bottom: 2px solid #e7e7e7;
    margin: auto 0.25rem;
    box-shadow: 0 -2px;
}

.timeline {
    background-color: #fff;
}

.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    margin-left: 10px;
}

.wrapper .option {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    padding: 1px 10px 1px 10px;
    border: 1px solid #D1D1D1;
}

input[type="radio"] {
    display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2,
#option-3:checked:checked~.option-3,
#option-4:checked:checked~.option-4,
#option-5:checked:checked~.option-5 {
    border-color: #03c7a6;
    padding: 1px 10px 1px 10px;
    border-radius: 5px;
    background: #00A388;
}

.wrapper .option span {
    font-size: 15px;
    color: black;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span,
#option-3:checked:checked~.option-3 span,
#option-4:checked:checked~.option-4 span,
#option-5:checked:checked~.option-5 span {
    color: #fff;
}

/* Responsive tablet */
@media screen and (max-width : 1024px) {
    .container {
        width: 100%;
        margin: auto;
    }

    .navbar{
        position: fixed;
    }

    .text-slider {
        padding-bottom: -10px;
    }

    .containers {
        width: 730px;
    }

    .containerGuide {
        max-width: 100%;
        margin: auto;
        background-color: #fff;
    }

    .containerWisata {
        width: 760px;
        background-color: #fff;
    }

    .containerInfo {
        width: 600px;
        margin: auto;
        background-color: #fff;
    }

    .img-box2 {
        width: 100%;
        height: 100%;
    }

    .img-box3 {
        width: 100%;
        height: 250px;
    }

   .img-box4 {
       width: 500px; 
   }

   .btn-profile{
        position: sticky;
    }

    .relative input {
        width: 300px;
    }

    .img-guide {
        width: 150px;
        margin-left: 0;
        margin-top: 50px;
    }

    .guide input {
        width: 380px !important;
    }

    .relative .input {
        width: 500px;
    }

    .relative-icon {
        margin-top: 0;
    }

    .leaflet-container {
        height: 200px;
        z-index: 0;
    }

    .leaflet-container2 {
        height: 700px;
        z-index: 0;
    }

    .tour-guide {
        width: 185px;
    }

    .share {
        margin-top: 20px;
        margin-left: 93%;
    }

    .swiper {
        width: 730px;
    }

    .MySwiper {
        width: auto;
    }

    .img-box {
        width: 340px;
        height: 270px;
        padding: 2px;
    }

    .trip-text {
        margin-bottom: -120px;
    }

    .date-picker {
        width: 720px;
    }

    .date-picker-icon {
        margin-left: 670px;
    }

    .date-plan {
        width: 355px;
    }

    .date-icon {
        margin-left: 310px;
    }

    .search input {
        margin-top: 0;
        width: 650px;
    }

    .search-icon {
        margin-top: 0;
    }

    .icon-add-plan {
        margin-right: 20%;
    }

    .planner-ai {
        right: 0;
        margin-right: 20%;
    }

    .planner-icon2 {
        margin-left: 670px;
    }

    .planner-icon {
        margin-left: 670px;
    }

    .share {
        margin-left: 65%;
    }

    .slider-tittle {
        margin-top: 160px;
    }

    .slider-des {
        margin-top: 200px;
    }

    .img-box4 {
        width: 500px;   
    }
}

/* responsive mobile */
@media screen and (max-width : 762px) {
    .container {
        width: 100%;
        margin: auto;
    }

    .navbar{
        position: fixed;
    }

    .containers {
        width: 370px;
    }

    .containerGuide {
        max-width: 100%;
        margin: auto;
        background-color: #fff;
    }

    .text-rent{
        margin-top: -10px;
        font-size: 13px;
    }

    .containerWisata {
        width: 380px;
        background-color: #fff;
    }

    .containerInfo {
        width: 100%;
        margin: auto;
        background-color: #fff;
    }

    .empty {
        width: 370px !important;
    }

    .relative .input {
        width: 330px;
        margin-top: 0;
    }

    .icon-add-plan {
        margin-right: 34%;
    }

    .img-box {
        width: 300px;
        height: 270px;
        padding: 2px;
    }

    .img-box3 {
        width: 100%;
        height: 200px;
    }

    .img-box4 {
        width: 250px;   
    }

    .img-box5 {
        width: 100%;   
        height: 100%; 
    }

    .btn-profile{
        position: fixed;
        width: 100%;
    }

    .text-slider {
        margin-top: 150px;
    }

    .slider-tittle {
        margin-top: 100px;
    }

    .text-profile {
        margin-top: 10px;
        font-size: 15px;
    }

    .text-profiles {
        margin-top: 10px;
        font-size: 15px;
        margin-left: 10px;
    }

    .text-nav {
        font-size: 13px;
    }

    .tour-guide {
        width: 90%;
    }

    .leaflet-container2 {
        height: 430px;
        z-index: 0;
    }

    .img-guide {
        width: 150px;
        margin-left: 0;
        margin-top: 50px;
    }

    .guide input {
        width: 330px !important;
    }



    .share {
        margin-left: 85%;
    }

    .swiper {
        width: 330px;
    }

    .text-jelajah {
        margin-left: 27px;
    }

    .text-trip {
        margin-right: 20px;
    }

    .trip-text {
        margin-bottom: -195px;
    }

    .planner-ai {
        right: 0;
        margin-right: 50px;
    }

    .date-picker {
        width: 340px;
    }

    .date-picker-icon {
        margin-left: 300px;
    }

    .date-icon {
        margin-left: 130px;
    }

    .planner-icon2 {
        margin-left: 300px;
    }

    .planner-icon {
        margin-left: 296px;
    }

    .date-plan {
        width: 100%;
    }

}
