* {
    font-family: "Plus Jakarta Sans", sans-serif;
}
.container {
    width: 55%;
    margin: auto;
    background-color: #fff;
}
.relative input{
    width: 390px;
}
.guide input{
    width: 370px;
}
.containers {
    height: 100%;
    background-color: #ffff;
}
.containerGuide{
    max-width: 30%;
    margin: auto;
    background-color: #fff;
}
.containerWisata{
    width: 430px;
    background-color: #fff;
}
.login{
    margin-bottom: 100%;
}


.swiper {
    width: 405px;
}
.mySwiper{
    width: 430px;
}
.MySwiper{
    width: 350px;
}
.swiper-slide {
    margin-left: 10px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-hr{
    margin: auto;
    display: flex;
    padding: 15px;
    margin-top: -20px;
}
.text-hr:before, .text-hr::after{
    color: white;
    content: "";
    flex: 1;
    border-bottom: 2px solid #e7e7e7;
    margin: auto 0.25rem;
    box-shadow: 0 -2px;
}

.timeline{
    background-color: #fff;
}

/* Responsive tablet */
@media screen and (max-width : 1024px){
    .container {
        width: 100%;
        margin: auto;
    }
    .containers{
        width: 730px;
    }
    .containerGuide{
        max-width: 100%;
        margin: auto;
        background-color: #fff;
    }
    .containerWisata{
        width: 760px;
        background-color: #fff;
    }
    .relative input{
        width: 300px;
    }
    .img-guide{
        width: 180px;
    }
    .guide input{
        width: 380px!important;
    }
    .relative .input{
        width: 500px;
    }
    .relative-icon{
        margin-top: 0;
    }
    .leaflet-container {
        height: 200px;
        z-index: 0;
    }
    .leaflet-container2 {
        height: 700px;
        z-index: 0;
    }
    .tour-guide{
        width: 185px;
    }
    .share{
        margin-top: 30px;
        margin-left: 92%;
    }
    .swiper {
        width: 730px;
    }
    .trip-text{
        margin-bottom: -120px;
    }
    .planner-icon{
        margin-left: 680px;
    }
    .date-picker{
        width: 720px;
    }
    .date-picker-icon{
        margin-left: 670px;
    }
    .date-plan{
        width: 355px;
    }
    .date-icon{
        margin-left: 310px;
    }
    .img-guide{
        margin-top: 30px;
        margin-left: 130px;
    }
    .search input{
        margin-top: 30px;
        width: 650px;
    }
    .search-icon{
        margin-top: 30px;
    }
    .text-slider{
        padding-top: 190px;
    }
}

/* responsive mobile */
@media screen and (max-width : 762px){
    .container {
        width: 100%;
        margin: auto;
    }
    .containers{
        width: 370px;
    }
    .containerGuide{
        max-width: 100%;
        margin: auto;
        background-color: #fff;
    }
    .containerWisata{
        width: 380px;
        background-color: #fff;
    }
    .empty{
        width: 370px!important;
    }
    .relative .input{
        width: 330px;
    }
    .text-slider{
        margin-top: -40px;
    }
    .slider-tittle{
        margin-top: -70px;
    }
    .text-profile{
        margin-top: 10px;
        font-size: 15px;
    }
    .text-profiles{
        margin-top: 10px;
        font-size: 15px;
        margin-left: 10px;
    }
    .text-nav{
        font-size: 9px;
    }
    .tour-guide{
        width: 90%;
    }
    .leaflet-container2 {
        height: 430px;
        z-index: 0;
    }
    .img-guide{
        width: 150px;
        margin-left: 0;
        margin-top: 50px;
    }
    .guide input{
        width: 330px!important;
    }
    .share{
        margin-left: 85%;
    }
    .swiper {
        width: 330px;
    }
    .text-jelajah{
        margin-left: 27px;
    }
    .text-trip{
        margin-right: 20px;
    }
    .trip-text{
        margin-bottom: -195px;
    }
    .planner-ai{
        right: 0;
        margin-right: 29px;
    }
    .planner-icon{
        margin-left: 300px;
    }
    .date-picker{
        width: 340px;
    }
    .date-picker-icon{
        margin-left: 300px;
    }
    .date-icon {
        margin-left: 130px;
    }

}