* {
    font-family: "Plus Jakarta Sans", sans-serif;
}
.container {
    width: 50%;
    margin: auto;
    background-color: #fff;
}
.relative input{
    width: 390px;
}
.guide input{
    width: 390px;
}
.containers {
    height: 100%;
    background-color: #ffffff;
}
.containerGuide{
    max-width: 30%;
    margin: auto;
    background-color: #fff;
}

.login{
    margin-bottom: 100%;
}
@media screen and (max-width : 1024px){
    .container {
        width: 100%;
        margin: auto;
    }
    .containerGuide{
        max-width: 100%;
        margin: auto;
        background-color: #fff;
    }
    .relative input{
        width: 300px;
    }
}

@media screen and (max-width : 762px){
    .container {
        width: 100%;
        margin: auto;
    }
    .containerGuide{
        max-width: 100%;
        margin: auto;
        background-color: #fff;
    }
    .relative input{
        width: 290px;
    }
    .text-profile{
        margin-top: 10px;
        font-size: 15px;
    }
    .text-profiles{
        margin-top: 10px;
        font-size: 15px;
        margin-left: 10px;
    }
}