* {
    font-family: "Inter", sans-serif!important;
}
/* Set the body to occupy the full viewport */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}

.container {
  width: 10%;
  background-color: #fff;
}

form.container{
  height: 100vh;
}

.leaflet-container {
  height: 160px;
  z-index: 0;
}

.leaflet-container2 {
  height: 430px;
  z-index: 0;
}
/*tablet*/
@media screen and (max-width: 1024px) {
  body{
    background-color: #fff;
  }
}

/*mobile*/
@media screen and (max-width: 762px) {
  body{
    background-color: #fff;
  }
}